# Qbitcoin Dependencies
# Core dependencies
pqcrypto==0.3.1 # For Falcon-512 post-quantum signature algorithm
PyYAML==6.0.2    # For YAML processing (genesis.yaml)
base58==2.1.1 # For address encoding

# Web and API dependencies
requests==2.32.3 # For API client
fastapi==0.115.12 
pydantic==2.11.5
Flask==3.1.1  # For web wallet
Flask-Cors==6.0.0 # For handling CORS in web app
uvicorn==0.34.2
# Cryptography dependencies
cryptography==45.0.2 # For encryption/decryption in wallet

# Additional libraries
argparse==1.4.0  # For command-line argument parsing
pathlib==1.0.1# For path manipulation
typing==3.7.4.3  # For type hints

# Development dependencies
pytest==8.3.5
   # For testing
